.inicio{
    position: relative;
    width: 100%;
    height: 100vh;
    min-height: 100vh;
    max-height: 100vh;
    overflow: hidden;
    scroll-snap-align: start;
    margin-top: 1500px;
}
.video-fondo{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
    aspect-ratio: 1/1;
}
.contenido{
    position: relative;
    z-index: 1;
    height: 100%;
    width: 100%;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 10rem;
    background: rgba(0, 0, 0, 0.3);
}